<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    </head>
  <body>	
  
    <h1 style="text-align:center"> Bem vindo ao Sistema de Gestao de RMS </h1>
    <h2 style="text-align:center"> Selecione a opcao desejada </h2>
    
    {% if g.user %}
    <div class="flex-parent jc-center">
    <a href="{{ url_for('crud.create') }}" class="mybutton"> <i class="fa fa-address-card"></i> Cadastrar Aluno</a>
	  <a href="{{ url_for('crud.view') }}" class="mybutton" ><i class="fa fa-search"></i> Visualizar Prontuarios de Alunos</a>

    
    <a href="{{ url_for('auth.logout') }}" class="mybutton" ><i class="fa fa-sign-out"></i> Sair</a>
    </div>
    
    
    {% else %}

    <div class="flex-parent jc-center">
    <a href="{{ url_for('auth.register') }}" class="mybutton"> <i class="fa fa-address-card"></i> Cadastrar-se</a>
    <a href="{{ url_for('auth.login') }}" class="mybutton" ><i class="fa fa-users"></i> Fazer Login</a>
    </div>

    {% endif %}

  </body>
      
</html>